html{
	font-size: 10px;
}

h1, h2, h3, p, a, li{
	font-family:arial ,sans-serif;
	text-decoration: none;
}

/*******************************************/
/*HEADER*/
/*******************************************/
header{
	display:block;
	background:white;
	position:relative;
	top:0;
	left:0;
	width:100%;
	height: 9rem;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .2);
	margin:0 auto;
	z-index: 100;
	
}

.header-container{
	width: 96rem;
	margin:auto;
	margin-top: 1rem;
	position:relative;
}

/*******************************************/
/*MAIN WEBSITE LOGO*/
/*******************************************/
.logo-header{

}

.logo-header h1{
	background:  url(../images/comverse-logo.png) no-repeat;
	width:185px;
	height: 7rem;
	text-indent: -9999px;
	float: left;

}


/*******************************************/
/*MAIN NAVIGATION MENU*/
/*******************************************/
.navigation-menu{
	display:inline-block;
	width:60rem;
	margin-top: 5rem;

}

.navigation-menu>ul{
	text-align: center;
}

.navigation-menu>ul>li{
	float:left;
	width: 14rem;
	height: 5.5rem;
	
}

/*.navigation-menu>ul>li:after {
	content: url(../images/search-devider.png);
	position: absolute;
	top:0;
	
}*/

.navigation-menu>ul li a{
	font-family: arial, sans-serif;
	text-transform: uppercase;
	font-size: 1.4rem;
	line-height: 2rem;
	text-align: center;
	color: #585951;
}

.navigation-menu>ul>li>ul{
	display:none;
}

.navigation-menu>ul>li:hover {
	background-color: white;
	border: 1px solid lightgray;
  	border-bottom: 0;
  	box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, .2);
}



.navigation-menu>ul li:hover>a{
	font-weight: 500;
	color:rgb(51, 153 ,204);
}

.navigation-menu>ul>li:hover>ul{

	display: block;
	background: white;
	margin-top: 3rem;
	width: 80rem;
	box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, .2);
	position:absolute;
	top:6.5rem;
	left:2rem;
	z-index: 100;
	
}


.navigation-menu>ul>li:hover ul li {
	text-align: left;
	line-height: 3rem;

}

.navigation-menu>ul>li:hover>ul li a{
	text-transform: capitalize;
	text-align: left;
	padding-left: 5rem;
	width: 50rem;
}




/*******************************************/
/*SEARCH BOX FORM*/
/*******************************************/
.searchbox{
	position: absolute;
	left:80rem;
	top:4.5rem;
	background: #fff;
	border: 1px solid #d2d2d2;
	width: 15rem;
	height: 2.2rem;
	border-radius: 6px;
}



input[type="submit"] {
	background: url(../images/search.png) no-repeat center ;
	text-indent: -9999px;
	width: 2.6rem;
	outline: 0;
	border:none;
	cursor: pointer;
}

input[type="search"] {
	
	display: inline;
	width: 120px;
	outline: 0;
	border:none;
	cursor: pointer;
	font-size: 10px;
	margin-top: 3px;
}

.searchbox:before {
	content: url(../images/search-devider.png);
	position: absolute;
	margin-left: 125px;
	
}



/*******************************************/
/*LANGUAGE SELECT AND CUSTOMER LOGIN*/
/*******************************************/

.lang-select{
	position: absolute;
	left:80rem;
	top:1rem;
	
}

.lang-select a{
	color: #585951;
	font-weight: 500;
	font-size: 1.4rem;
}

.lang-select>a:before{
	content: url(../images/dropdown-arrow.png)no-repeat center;;
	position: absolute;
	margin-left: 20px;

}

#cusotmer-login{
	margin-left: 25px;
}

#cusotmer-login::before {
	content: url(../images/search-devider.png)  no-repeat center;
	

	margin-left: -5px;

	
}

/*******************************************/
/*POLICY STUDIO SLIDES SECTION*/
/*******************************************/

.slides{
	display:block;
	background:white;
	position:relative;
	top:0;
	left:0;
	width:100%;
	height: 55rem;
	z-index: 20;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .2);
	background: url('../images/backdrop-1.jpg') no-repeat center;
	
}

.slides-text-wrap{
	display: block;
	width: 96rem;
	margin:auto;
	position:relative;	
}

.slides-text-wrap h1{
	font-size: 4.2rem;
	line-height: 4.5rem;
	color:white;
	padding-top: 6rem;
	width:45rem;
}

.slides-text-wrap p{
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: white;
}

/*******************************************/
/*BLUE BUTTON*/
/*******************************************/
.slides-text-wrap .blue-button{
	width:17rem;
	height: 3.5rem;
	background:linear-gradient(to bottom, rgba(47,151,203,0.9) 0%,rgba(17,136,196,0.9) 100%);
	border:none;
	border-radius: 5px;
	text-align: left;
	box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, .2);
	cursor: pointer;
	margin-top: 2rem;
}
.slides-text-wrap .blue-button span{
	color:white;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
}

.blue-button:hover {
	box-shadow: -1px 1px  1px  gray;
}

.blue-button:hover>span::after {
	content: url(../images/link-arrow-hover.png) no-repeat center ;
	margin-left: 55px;
}
.blue-button:hover span {
	color:black;
	font-weight: 500;
}

.blue-button>span::after{
	content: url(../images/link-arrow.png) no-repeat center ;
	margin-left: 55px;
}

/*******************************************/
/*COLORED-SLIDES*/
/*******************************************/
.colored-slides{
	display:inline-block;
	margin-top:9.6rem;
}
.colored-slides li{
	float: left;
	vertical-align: top;
	width:29rem;
	height:17.6rem;
	margin-right: 3rem;
	border-radius: 8px;
	box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, .3);
}


.colored-slides li a{
	padding-left: 17px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	
}

.colored-slides li a img{
	margin-right: 6px;
}

.colored-slides li p{
	color: white;
	font-size: 2.4rem;
	line-height: 3rem;
	font-family: "Myriad Pro",  sans-serif;
	margin-top: 2.5rem;
	margin-bottom: 30px;
	padding-left: 12px; 
}



.slide-1{
	background-color: rgba(238,54,148,0.75);	
}
.slide-2{
	background-color: rgba(105,194,58,0.75);	
}

.slide-3{
	background-color: rgba(255,117,24,0.75);
}



/*******************************************/
/*SOLUTIONS ICONS*/
/*******************************************/


.solutions-icons{
	width: auto;
	height: 42rem;
	text-decoration: none;
	font-family: "Myriad Pro",  sans-serif; 
	font-size: 1.6rem;
	text-align: center;
	background:url(../images/bg-icons.jpg) no-repeat center;
	margin:0 auto;

}

.solutions-icons h1 {
	font-size: 4.2rem;
	line-height: 4.5rem;
	color:white;
	text-transform: uppercase;
	padding-top: 6rem;
}


.solutions-icons a {
display: inline-block;
width: 135px;
color: white;
vertical-align: top;
margin-top: 5rem;

}

/*******************************************/
/*SOLUTIONS SECTION BLUE BUTTON*/
/*******************************************/
.solutions-icons .blue-button{
	width:18rem;
	height: 3.5rem;
	background:linear-gradient(to bottom, rgba(47,151,203,0.9) 0%,rgba(17,136,196,0.9) 100%);
	border:none;
	border-radius: 5px;
	text-align: left;
	box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, .2);
	cursor: pointer;
	margin-top: 2rem;
}
.solutions-icons .blue-button span{
	color:white;
	font-size: 12px;
	text-transform: capitalize;
	font-weight: 500;
}

.solutions-icons .blue-button:hover {
	box-shadow: -1px 1px  1px  gray;
}

.solutions-icons .blue-button:hover>span:after {
	content: url(../images/link-arrow-hover.png) no-repeat center ;
	margin-left: 2rem;
}
.solutions-icons .blue-button:hover span {
	color:black;
	font-weight: 500;
}

.solutions-icons .blue-button>span::after{
	content: url(../images/link-arrow.png) no-repeat center ;
	margin-left: 2rem;
}

/*******************************************/
/*WHATS HAPPENING SECTION*/
/*******************************************/

.whats-happening{
	display:block;
	position:relative;
	top:0;
	left:0;
	width:100%;
	height: 45rem;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .2);
	background: url('../images/backdrop-2.jpg') no-repeat center;


	margin:0 auto;
	z-index: 100;
	
}

.whats-happening-wrap{
	display: block;
	width: 96rem;
	margin:auto;
	position:relative;
	top:6rem;
	

}

.whats-happening-wrap>h1{
	display: block;
	font-size: 4.2rem;
	line-height: 4.2rem;
	text-transform: uppercase;
	text-align: center;
	color:white;
	width:100%;
}

.whats-happening-wrap h2{
	display: block;
	font-size: 3.4rem;
	line-height: 4rem;
	text-transform: uppercase;
	text-align: left;
	color:white;
	width:100%;
}

.whats-happening-wrap ul li{
	float: left;
	width:29rem;
	height: 18.5rem;
	margin-top:8rem; 
	margin-right: 2.8rem;	
}

.whats-happening-wrap ul li:last-of-type{
	margin-right: 0;
	
}

/*inside colored event box*/

.event-wrap{
	margin-top: 1.8rem;
	height: 11.8rem;
	background-color: rgba(176, 161, 152, 0.6);
	position: relative;
}

.whats-happening-wrap span a {
	color:white;
	display: inline-block; 
	font-size:1.3rem;
	padding-top: 2rem;
	text-decoration: none;
}

.event-wrap p a {
	color:black;
	font-size: 1.4rem;
	line-height: 2rem;
	position: absolute;
	top:1.3rem;
	left: 9.5rem;
}


/* blue date box*/

.date-wrap{
	width: 7rem;
	height: 10rem;
	position: relative;
	top:1rem;
	left:1rem;
	color:white;
	text-align: center;
	float: left;
	background-color: #3399cc;
}


.date-wrap> p:first-child{
	font-size: 4.8rem;
	color:white;
	margin-top:0;
	padding-top: 1.6rem;
}
.date-wrap> p:nth-child(2){
	font-size: 1.8rem;
	color:white;
	margin-bottom: 1rem;
	padding-top: 1rem;
	border-top: 1px dotted white;
}




