
/*******************************************/
/*GENERAL STYLE-GUIDE SETTINGS*/
/*******************************************/

h1, h2, h3, p, a, li{
	font-family:sans-serif;
	text-decoration: none;
}

.style-heading-1{
	font-size: 45px;
	line-height: 60px;
	margin-bottom: 50px;
	display: inline-block;
	border: 1px solid white;
	box-shadow: -5px 5px 5px #313131;
	padding-left: 10px;
}
.style-heading-2{
	font-size: 35px;
	line-height: 40px;
	margin-bottom: 50px;
	border: 1px solid white;
	box-shadow: -5px 5px 5px #313131;
	padding-left: 10px;
}

.style-heading-3{
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 50px;
	border: 1px solid white;
}

div:first-of-type{
	margin:50px;
}

#style-guide{
	
	background-color: lightgray;
	font-size: 25px;
	line-height: 40px;
	margin: 50px;
	box-shadow: -5px 5px 5px #313131;
	padding-left: 10px;
}

section{
	height: 500px;	
	margin: 50px;
}

/*******************************************/
/*MAIN WEBSITE LOGO*/
/*******************************************/

.logo-header h1{
	background:  url(../images/comverse-logo.png);
	width:185px;
	height: 62px;
	text-indent: -9999px;
}

/*******************************************/
/*MAIN NAVIGATION MENU*/
/*******************************************/
.navigation-menu{
	margin-top: 50px;
	float: left;
	width:800px;
	height: 90px;
}

.navigation-menu>ul{
	float:right;
	text-align: center;
	
}

.navigation-menu>ul>li{
	float:left;
	width: 150px;
	height: 14px;
	display: inline-block;
	border-right: 1px lightgray solid;
}

.navigation-menu>ul li a{
	font-family: arial, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: #585951;
}

.navigation-menu>ul>li>ul{
	display:none;
}

.navigation-menu>ul li>a:hover{
	font-weight: 600;
}

.navigation-menu>ul>li:hover>ul{
	display: inline-block;
	background: white;
	display: visible;
	margin-top: 20px;
	border: 1px gray solid;
	width: 800px;
	box-shadow: -5px 5px 5px gray;
	
}





.navigation-menu>ul>li:hover ul li {
	text-align: left;
	line-height: 2em;
	
}

.navigation-menu>ul>li:hover>ul li a{
	text-transform: capitalize;
	text-align: left;
	padding-left: 50px;
	width: 500px;
}

/*******************************************/
/*MINI-LEFT NAVIGATION MENU*/
/*******************************************/

/*LANGUAGE SELECT*/

.lang-select{
	display: inline-block;
	color: #585951;
	font-weight: 500;
	font-size: 14px;
}

.lang-select>a::before{
	content: url(../images/dropdown-arrow.png)no-repeat center;;
	position: absolute;
	margin-left: 20px;
}

#cusotmer-login{
	margin-left: 25px;
}

#cusotmer-login::before {
	content: url(../images/search-devider.png)  no-repeat center;
	

	margin-left: -5px;

	
}

/*******************************************/
/*SEARCH BOX FORM*/
/*******************************************/
.searchbox{
	display: inline-block;
	background: #fff;
	border: 1px solid #d2d2d2;
	width: 150px;
	height: 22px;
	border-radius: 6px;
}



input[type="submit"] {
	background: url(../images/search.png) no-repeat center ;
	text-indent: -9999px;
	width: 26px;
	outline: 0;
	border:none;
	cursor: pointer;
}

input[type="search"] {
	
	display: inline;
	width: 120px;
	outline: 0;
	border:none;
	cursor: pointer;
	font-size: 10px;
	margin-top: 3px;
}

.searchbox::before {
	content: url(../images/search-devider.png);
	position: absolute;
	margin-left: 125px;
	
}

/*BUTTONS*/

/*******************************************/
/*BLUE BUTTON*/
/*******************************************/
.blue-button{
	width:176px;
	height: 35px;
	background-color: #1b8dc6;
	border:none;
	border-radius: 5px;
	text-align: left;
	box-shadow: -1px 1px  1px  lightgray;
	cursor: pointer;
}
.blue-button span{
	color:white;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
}

.blue-button:hover {
	box-shadow: -1px 1px  1px  gray;
}

.blue-button:hover>span::after {
	content: url(../images/link-arrow-hover.png) no-repeat center ;
	margin-left: 55px;
}
.blue-button:hover span {
	color:black;
	font-weight: 500;
}

.blue-button>span::after{
	content: url(../images/link-arrow.png) no-repeat center ;
	margin-left: 55px;
}


/*******************************************/
/*SLIDES*/
/*******************************************/
.slides{
	display:inline-block;
	padding-left: 150px;
	margin:auto;
}
.slides li{
	display: inline-block;
	vertical-align: top;
	
	width:290px;
	height:170px;
	margin-right: 34px;
	border-radius: 8px;
	box-shadow: 1px 1px 2px gray;
}


.slides li a{
	padding-left: 17px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	
}

.slides li a img{
	margin-right: 6px;
}

.slides li p{
	color: white;
	font-size: 24px;
	font-family: "Myriad Pro",  sans-serif;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 12px; 
}



.slide-1{
	background-color: rgba(238,54,148,0.75);	
}
.slide-2{
	background-color: rgba(105,194,58,0.75);	
}

.slide-3{
	background-color: rgba(255,117,24,0.75);
}

/*SOLUTIONS ICONS*/





.solutions-icons{
	width: auto;
	height: 420px;
	text-decoration: none;
	font-family: "Myriad Pro",  sans-serif; 
	font-size: 16px;
	text-align: center;
	background:url(../images/bg-icons.jpg) no-repeat center;

}

.solutions-icons a {
display: inline-block;
width: 135px;
color: white;
vertical-align: top;
margin-top: 120px;

}


.slides .bullets{
	margin-top: 1.6rem;
}
.slides .bullets>a {
	display: inline-block;
	width: 0.6rem;
	height: 0.6rem;
	background-color: white;
	border-radius: 1.5px;
	margin-right: 0.2rem;
}

.slides .bullets a:hover {
	background-color: #1188c4;
}
